# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/
myenv/
venv.bak/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Coverage/Testing
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Logs
*.log
logs/
log/

# Local development
.env.local
.env.development.local
.env.test.local
.env.production.local
.venv

# Project specific
.pytest_cache/
.mypy_cache/    

# Alembic
alembic/__pycache__/
alembic/versions/__pycache__/
alembic/*.pyc
alembic/versions/*.pyc

# Terraform
*Terraform/
architecture_json/
*_terraform/


test_websocket.py
